@use './color.scss' as *;
@import url(https://fonts.googleapis.com/css?family=Fira+Code:300,regular,500,600,700);

.contactWrapper {
  width: 100%;
  height: calc(100% - 100px);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;

  @media (width <= 768px) {
    height: fit-content;
    padding: 24px;
    justify-content: center;
    align-items: normal;
  }
}

.contact {
  display: flex;
  gap: 18px;
  flex-direction: column;
  overflow: auto;
  color: $theme-foreground;

  @media (width <= 768px) {
    gap: 18px;
  }

  @media (width <= 480px) {
    gap: 12px;
  }
}

.contact > div {
  display: flex;
  flex-direction: column;
  gap: 6px;
  font-weight: 500;
}

.contact input,
.contact textarea {
  padding: 12px;
  background-color: $theme-theme-backdrop;
  border: 1px solid $theme-theme-stroke;
  color: $theme-foreground;
  border-radius: 8px;
  resize: none;
}

.contact input::placeholder,
.contact textarea::placeholder {
  color: $theme-foreground;
  font-weight: 500;
  font-family: "Fira Code", sans-serif;
}

.contact button {
  padding: 10px 12px;
  width: fit-content;
  color: $primitive-slate-500;
  background-color: $primitive-slate-700;
  border-radius: 8px;
  border: 1px solid $primitive-slate-700;
  font-weight: 600;
  font-family: "Fira Code", sans-serif;
  cursor: pointer;
  user-select: none;
}

.error {
  color: $semantic-error-background;
  animation: disapear 0.3s ease forwards;
  width: 100%;
  font-size: auto;
}

.success {
  color: $semantic-success-background;
  width: 100%;
  font-size: auto;
}