@use './color.scss' as *;
@import url(https://fonts.googleapis.com/css?family=Fira+Code:300,regular,500,600,700);

.project {
  gap: 16px;
  height: 100%;
  flex: 1 1 calc((100% - 64px) / 3);
  min-width: 250px;
  max-width: 350px;
  display: flex;
  flex-direction: column;
}

.project header {
  display: flex;
  justify-content: space-between;
  gap: 8px;

  p {
    font-size: 14px;
  }
}

.project header p:nth-child(1) {
  color: $primitive-indigo-500;
  font-weight: 500;
  white-space: nowrap;
}

.project header p:nth-child(2) {
  color: $theme-foreground;
  font-weight: 500;
  white-space: nowrap;
}


.project footer {
  height: 100%;
  background-color: $primitive-slate-950;
  border: 1px solid $primitive-slate-800;
  position: relative;
  border-radius: 12px;
  color: $theme-foreground;
  font-weight: 500;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.project footer p {
  font-size: 14px;
}

.project footer div {
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 21px;
  flex-grow: 1;
}

.project footer img {
  width: 100%;
  height: 180px !important;
  object-fit: cover;
  border-bottom: 1px solid $primitive-slate-800;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
  user-select: none;
}


.project footer a {
  font-family: "Fira Code", sans-serif;
  padding: 10px 12px;
  background-color: $primitive-slate-600;
  border-radius: 8px;
  color: $theme-heading-foreground;
  width: fit-content;
  border: 1px solid $primitive-slate-600;
  font-weight: 500;
  transition: .3s ease;
  cursor: pointer;
  user-select: none;
}

.project footer a:hover {
  background-color: transparent;
}